.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 93px 0px 94px 0px;
}

.about__header {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18; 
    max-width: 463px;
    margin-bottom: 39px;
    &:active{
        color: #E06733;
    }
}
.about__text {
    font-size: 20px;
    line-height: 150%;
    color: #636060;
    max-width: 605px;
}
.about__img {
    max-width: 464px;
    max-height: 479px;
}